$container-desktop-width: 1536;

$container-laptop-above-width: 1027;
$container-laptop-width: 1026;

$container-tablet-above-width: 769;
$container-tablet-width: 768;

$container-mobile-above-width: 641;
$container-mobile-width: 640;
