$container-desktop-width: 1536;

$container-laptop-above-width: 1281;
$container-laptop-width: 1280;

$container-tablet-above: 1024px;
$container-tablet: 1023px;

$container-tablet-small-above: 801px;
$container-tablet-small: 800px;

$container-mobile-above: 768px;
$container-mobile: 767px;
