.button {

  display: block;
  color: var(--color-gray-50);
  background-color: var(--color-purple-500);
  height: var(--button-height-x);
  white-space: nowrap;
  border-radius: var(--button-border-radius-x);
  padding: 0 var(--button-padding-inline);
  border-block: 0;
  border-inline: var(--border-size-l) solid transparent;
  font-weight: 700;
  font-size: 16px;


  &:active {
    background-color: #45a049;
  }

}