.guarantees {
  margin-bottom: var(--container-margin-y);

  &__header {
    max-width: 756px;
    margin-inline: auto;
    margin-bottom: 24px;

    @include tablet {
      max-width: #{fluid(756, 640)};
    }

    @include mobile {
      max-width: 640px;
    }
  }

  &__heading {
    max-width: 304px;
    margin-inline: auto;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &__body {

    @include laptop {
      max-width: 816px;
      margin-inline: auto;
    }

    @include tablet {
      max-width: 756px;
    }

    @include mobile {
      max-width: 366px;
    }
  }

  &__list {

    display: grid;
    align-items: start;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 36px;

    @include laptop {
      align-items: end;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);

    }
  }

  &__item {


    @include laptop {
      height: 100%;
      max-width: 396px;
      margin-inline: auto;
    }


  }

  &__document {

    display: flex;
    flex-direction: column;
    row-gap: 4px;

    @include laptop {
      height: 435px;
    }

    img {
      height: 100%;
    }

    &-title {
      font-weight: 900;
      font-size: 18px;
      white-space: nowrap;
      text-align: center;
    }
  }

  &__button {
    border-radius: var(--button-border-radius-xl);
    font-weight: 900;
    height: 56px;
    max-width: calc(315px + (var(--border-size-l) * 2));
    margin-inline: auto;
  }
}