.field {
  display: flex;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray-400);


  &__input,
  &__textarea {
    width: calc(100% + var(--input-border) * 2);
    border: var(--input-border) solid var(--color-gray-900);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);

    &:active,
    &:focus {
      border-color: var(--color-purple-500);
      outline-color: var(--color-purple-500);
    }
  }

  &__input {
    height: var(--input-height);
  }

  &__textarea {
    min-height: 150px;
    resize: none;
  }
}