.questions {
  background-color: var(--color-gray-50);
  margin-bottom: var(--container-margin-y);
  padding: 64px 71px;

  &__header {

    max-width: 321px;
    margin-inline: auto;
    margin-bottom: 32px;

    @include tablet {}

    @include mobile {}
  }

  &__body {
    max-width: 497px;
    margin-inline: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 20px;

    &-field {
      display: flex;
      gap: 24px;
    }
  }

  &__button {
    width: 100%;
  }
}