.header {

  background-color: var(--color-gray-50);
  white-space: nowrap;

  &__wrapper {

    margin-block: 24px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    margin-bottom: #{fluid(24, 12)};
  }

  &__info {
    display: flex;
    column-gap: 12px;

    &-separator {
      border: 1px solid var(--color-purple-500);

      @include tablet {
        display: none;
      }
    }

    @include laptop {
      max-width: 659px
    }

    @include tablet {
      max-width: 229px
    }

    @include mobile {
      align-items: center;
    }
  }

  &__about {
    @include fluid-text(16, 14);

    font-weight: 400;

    &-description {
      @include tablet {

        @include flex-center;

        max-width: 232px;
        column-gap: 8px;
        text-align: center;
      }
    }

    &--desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: end;
    }

    &--tablet {
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 32px;
        column-gap: 24px;
        font-size: 14px;
      }

      @include mobile {
        padding: 0;
      }

    }


  }

  &__menu {

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      border-block: 2px solid transparent;

      @include tablet {
        border-block: 2px solid var(--color-purple-500);

        column-gap: 24px;
        padding-block: 12px;
        margin-bottom: 12px;
      }

      @include mobile {
        padding-inline: 24px;
      }

    }
  }

  &__button {
    max-width: 196px;
  }
}