.advantages {
  margin-bottom: var(--container-margin-y);

  &__header {
    max-width: 336px;
    margin-inline: auto;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    gap: 34px 24px;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mobile {
      justify-content: center;
      grid-template-columns: repeat(1, 372px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-inline: 24px;
    max-width: 496px;

    @include laptop {
      max-width: 501px;
    }

    @include tablet {
      padding-inline: 0;
    }

    &-container {
      max-width: 300px;

      @include tablet {
        max-width: 305px;
      }

      @include laptop {
        max-width: 251px;
      }
    }

    img {
      max-width: #{fluid(136, 108)};

      @include laptop {
        max-width: 108px;
      }
    }

    &-heading {
      margin-bottom: 12px;
      white-space: nowrap;
      font-size: 24px;


      @include laptop {
        @include fluid-text(24, 20);
      }

      @include tablet {
        font-size: 20px;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 14px;
    }

  }
}